In [1]:
import pandas as pd
import geopandas as gpd

import numpy as np
import pydeck as pdk

In [2]:
main_population = gpd.read_file('../../데이터/population/dobong_pop.shp', encoding = 'utf-8')
dongdaemoon_pop = gpd.read_file('../../데이터/population/dongdaemoon_pop.shp', encoding = 'utf-8')
dongjak_pop = gpd.read_file('../../데이터/population/dongjak_pop.shp', encoding = 'utf-8')
eunpyeong_pop = gpd.read_file('../../데이터/population/eunpyeong_pop.shp', encoding = 'utf-8')
gangbook_pop = gpd.read_file('../../데이터/population/gangbook_pop.shp', encoding = 'utf-8')
gangdong_pop =gpd.read_file('../../데이터/population/gangdong_pop.shp', encoding = 'utf-8')
gangnam_pop = gpd.read_file('../../데이터/population/gangnam_pop.shp', encoding = 'utf-8')
gangseo_pop = gpd.read_file('../../데이터/population/gangseo_pop.shp', encoding = 'utf-8')
geumcheon_pop = gpd.read_file('../../데이터/population/geumcheon_pop.shp', encoding = 'utf-8')
guro_pop = gpd.read_file('../../데이터/population/guro_pop.shp', encoding = 'utf-8')
gwanak_pop = gpd.read_file('../../데이터/population/gwanak_pop.shp', encoding = 'utf-8')
gwangjin_pop = gpd.read_file('../../데이터/population/gwangjin_pop.shp', encoding = 'utf-8')
jonglo_pop = gpd.read_file('../../데이터/population/jonglo_pop.shp', encoding = 'utf-8')
joonggoo_pop = gpd.read_file('../../데이터/population/joonggoo_pop.shp', encoding = 'utf-8')
joongrang_pop = gpd.read_file('../../데이터/population/joongrang_pop.shp', encoding = 'utf-8')
mapo_pop = gpd.read_file('../../데이터/population/mapo_pop.shp', encoding = 'utf-8')
nowon_pop = gpd.read_file('../../데이터/population/nowon_pop.shp', encoding = 'utf-8')
seocho_pop = gpd.read_file('../../데이터/population/seocho_pop.shp', encoding = 'utf-8')
seodaemun_pop = gpd.read_file('../../데이터/population/seodaemun_pop.shp', encoding = 'utf-8')
songpa_pop = gpd.read_file('../../데이터/population/songpa_pop.shp', encoding = 'utf-8')
sungbook_pop = gpd.read_file('../../데이터/population/sungbook_pop.shp', encoding = 'utf-8')
sungdong_pop = gpd.read_file('../../데이터/population/sungdong_pop.shp', encoding = 'utf-8')
yangcheon_pop = gpd.read_file('../../데이터/population/yangcheon_pop.shp', encoding = 'utf-8')
yeongdeungpo_pop = gpd.read_file('../../데이터/population/yeongdeungpo_pop.shp', encoding = 'utf-8')
yongsan_pop = gpd.read_file('../../데이터/population/yongsan_pop.shp', encoding = 'utf-8')

In [3]:
main_population = main_population.append(dongdaemoon_pop)
main_population = main_population.append(dongjak_pop)
main_population = main_population.append(eunpyeong_pop)
main_population = main_population.append(gangbook_pop)
main_population = main_population.append(gangdong_pop)
main_population = main_population.append(gangnam_pop)
main_population = main_population.append(gangseo_pop)
main_population = main_population.append(geumcheon_pop)
main_population = main_population.append(guro_pop)
main_population = main_population.append(gwanak_pop)
main_population = main_population.append(gwangjin_pop)
main_population = main_population.append(jonglo_pop)
main_population = main_population.append(joonggoo_pop)
main_population = main_population.append(joongrang_pop)
main_population = main_population.append(mapo_pop)
main_population = main_population.append(nowon_pop)
main_population = main_population.append(seocho_pop)
main_population = main_population.append(seodaemun_pop)
main_population = main_population.append(songpa_pop)
main_population = main_population.append(sungbook_pop)
main_population = main_population.append(sungdong_pop)
main_population = main_population.append(yangcheon_pop)
main_population = main_population.append(yeongdeungpo_pop)
main_population = main_population.append(yongsan_pop)

main_population = main_population.drop_duplicates(subset = 'gid')

main_population

C:\Users\ms964\AppData\Local\Temp\ipykernel_20356\705615383.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_population = main_population.append(dongdaemoon_pop)
C:\Users\ms964\AppData\Local\Temp\ipykernel_20356\705615383.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_population = main_population.append(dongjak_pop)
C:\Users\ms964\AppData\Local\Temp\ipykernel_20356\705615383.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_population = main_population.append(eunpyeong_pop)
C:\Users\ms964\AppData\Local\Temp\ipykernel_20356\705615383.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_population = main_population.append(gangbook_pop)
C:\Users\ms964\AppData\Local\Temp\ipykernel_20356\705615383.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_population = main_population.append(gangdong_pop)
C:\Users\ms964\AppData\Local\Temp\ipykernel_20356\705615383.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_population = main_population.append(gangnam_pop)
C:\Users\ms964\AppData\Local\Temp\ipykernel_20356\705615383.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_population = main_population.append(gangseo_pop)
C:\Users\ms964\AppData\Local\Temp\ipykernel_20356\705615383.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_population = main_population.append(geumcheon_pop)
C:\Users\ms964\AppData\Local\Temp\ipykernel_20356\705615383.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_population = main_population.append(guro_pop)
C:\Users\ms964\AppData\Local\Temp\ipykernel_20356\705615383.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_population = main_population.append(gwanak_pop)
C:\Users\ms964\AppData\Local\Temp\ipykernel_20356\705615383.py:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_population = main_population.append(gwangjin_pop)
C:\Users\ms964\AppData\Local\Temp\ipykernel_20356\705615383.py:12: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_population = main_population.append(jonglo_pop)
C:\Users\ms964\AppData\Local\Temp\ipykernel_20356\705615383.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_population = main_population.append(joonggoo_pop)
C:\Users\ms964\AppData\Local\Temp\ipykernel_20356\705615383.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_population = main_population.append(joongrang_pop)
C:\Users\ms964\AppData\Local\Temp\ipykernel_20356\705615383.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_population = main_population.append(mapo_pop)
C:\Users\ms964\AppData\Local\Temp\ipykernel_20356\705615383.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_population = main_population.append(nowon_pop)
C:\Users\ms964\AppData\Local\Temp\ipykernel_20356\705615383.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_population = main_population.append(seocho_pop)
C:\Users\ms964\AppData\Local\Temp\ipykernel_20356\705615383.py:18: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_population = main_population.append(seodaemun_pop)
C:\Users\ms964\AppData\Local\Temp\ipykernel_20356\705615383.py:19: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_population = main_population.append(songpa_pop)
C:\Users\ms964\AppData\Local\Temp\ipykernel_20356\705615383.py:20: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_population = main_population.append(sungbook_pop)
C:\Users\ms964\AppData\Local\Temp\ipykernel_20356\705615383.py:21: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_population = main_population.append(sungdong_pop)
C:\Users\ms964\AppData\Local\Temp\ipykernel_20356\705615383.py:22: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_population = main_population.append(yangcheon_pop)
C:\Users\ms964\AppData\Local\Temp\ipykernel_20356\705615383.py:23: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_population = main_population.append(yeongdeungpo_pop)
C:\Users\ms964\AppData\Local\Temp\ipykernel_20356\705615383.py:24: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  main_population = main_population.append(yongsan_pop)

,gid,lbl,val,geometry
0,다사58b60a,4336.00,4336.0,"POLYGON ((958500.000 1960000.000, 958500.000 1..."
1,다사60b61b,295.00,295.0,"POLYGON ((960500.000 1961500.000, 960500.000 1..."
2,다사58b59b,120.00,120.0,"POLYGON ((958500.000 1959500.000, 958500.000 1..."
3,다사59b65b,442.00,442.0,"POLYGON ((959500.000 1965500.000, 959500.000 1..."
4,다사60a62a,9367.00,9367.0,"POLYGON ((960000.000 1962000.000, 960000.000 1..."
...,...,...,...,...
100,다사54b47b,None,NaN,"POLYGON ((954500.000 1947500.000, 954500.000 1..."
102,다사53a46a,None,NaN,"POLYGON ((953000.000 1946000.000, 953000.000 1..."
103,다사54a48b,None,NaN,"POLYGON ((954000.000 1948500.000, 954000.000 1..."
109,다사54a47b,None,NaN,"POLYGON ((954000.000 1947500.000, 954000.000 1..."
111,다사54a46a,None,NaN,"POLYGON ((954000.000 1946000.000, 954000.000 1..."

In [4]:
charger = gpd.read_file('../../데이터/charger/시범 전기차충전소(시군구격자) 접근성.shp', encoding = 'utf-8')

charger

,gid,sgg_nm_k,sgg_nm_e,sgg_cd,sido_nm_k,sido_nm_e,sido_cd,value,stats_year,raw_d_year,geometry
0,다사55a53b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,1.609,2021,202112,"POLYGON ((955000.000 1953500.000, 955000.000 1..."
1,다사53a53a,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.402,2021,202112,"POLYGON ((953000.000 1953000.000, 953000.000 1..."
2,다사52b53a,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.535,2021,202112,"POLYGON ((952500.000 1953000.000, 952500.000 1..."
3,다사53a57b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,1.357,2021,202112,"POLYGON ((953000.000 1957500.000, 953000.000 1..."
4,다사53a54b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.701,2021,202112,"POLYGON ((953000.000 1954500.000, 953000.000 1..."
...,...,...,...,...,...,...,...,...,...,...,...
419167,나바98a83b,None,None,None,None,None,None,7.706,2021,202112,"POLYGON ((898000.000 1883500.000, 898000.000 1..."
419168,마바76a57a,None,None,None,None,None,None,3.802,2021,202112,"POLYGON ((1176000.000 1857000.000, 1176000.000..."
419169,나바97a87b,None,None,None,None,None,None,4.755,2021,202112,"POLYGON ((897000.000 1887500.000, 897000.000 1..."
419170,나바97a25b,None,None,None,None,None,None,0.662,2021,202112,"POLYGON ((897000.000 1825500.000, 897000.000 1..."
419171,나바96a82b,None,None,None,None,None,None,-999.000,2021,202112,"POLYGON ((896000.000 1882500.000, 896000.000 1..."

In [5]:
charger = charger[charger['sido_nm_k'] == '서울특별시']

charger['gid']

0       다사55a53b
1       다사53a53a
2       다사52b53a
3       다사53a57b
4       다사53a54b
          ...
2415    다사70b52a
2416    다사67b48a
2417    다사68a47a
2418    다사68a51a
2419    다사68a49b
Name: gid, Length: 2420, dtype: object

In [6]:
j = list() # 인구수 데이터 중 전기차 충전소 데이터의 위치와 일치하지 않는 데이터의 'gid' 추출
for i in main_population['gid']:
    if i not in list(charger['gid']):
        j.append(i)

not_in_population = main_population.copy()

not_in_population = not_in_population.set_index('gid')
not_in_population = not_in_population.loc[j,:]

not_in_population = not_in_population.reset_index()

In [7]:
def polygon_to_coordinates(x): 
    lon, lat = x.exterior.xy 
    return [[x, y] for x, y in zip(lon, lat)]

In [8]:
not_in_population = not_in_population.to_crs(epsg=4326)
not_in_population['coordinates'] = not_in_population['geometry'].apply(polygon_to_coordinates)

not_in_population_list = list()
for i in not_in_population['coordinates']:
    center = [[(i[0][0] + i[1][0] + i[2][0] + i[3][0])/4, (i[0][1] + i[1][1] + i[2][1] + i[3][1])/4]]
    not_in_population_list.append(center)

not_in_population['coord_center'] = pd.DataFrame(not_in_population_list)
not_in_population['regularize_val'] = not_in_population['val'] / not_in_population['val'].max()
not_in_population['regularize_val'] = not_in_population['regularize_val'].fillna(0)
layer = pdk.Layer(
    'PolygonLayer', # 사용할 Layer 타입
    not_in_population, # 시각화에 쓰일 데이터프레임
    get_polygon='coordinates', # geometry 정보를 담고있는 컬럼 이름
    get_fill_color='[255, 100,255]', # 각 데이터 별 rgb 또는 rgba 값 (0~255)
    pickable=True, # 지도와 interactive 한 동작 on
    auto_highlight=True # 마우스 오버(hover) 시 박스 출력
    ,coverage = 0
)

center_seoul = [127.001699, 37.564214]

view_state = pdk.ViewState(
    longitude=center_seoul[0],
    latitude=center_seoul[1],
    zoom=10)

r = pdk.Deck(layers=[layer], initial_view_state=view_state)
r.show()

DeckGLWidget(carto_key=None, custom_libraries=[], google_maps_key=None, json_input='{"initialViewState": {"lat…

In [9]:
main_population = main_population.set_index('gid')
not_in_population = not_in_population.set_index('gid')

main_population = main_population.drop(not_in_population.index)
main_population = main_population.reset_index()

In [10]:
main_population = main_population.to_crs(epsg=4326)
main_population['coordinates'] = main_population['geometry'].apply(polygon_to_coordinates)

main_population

,gid,lbl,val,geometry,coordinates
0,다사58b60a,4336.00,4336.0,"POLYGON ((127.02962 37.63854, 127.02959 37.643...","[[127.02962122758167, 37.638535251970794], [12..."
1,다사60b61b,295.00,295.0,"POLYGON ((127.05221 37.65214, 127.05218 37.656...","[[127.05220827725105, 37.652143202902444], [12..."
2,다사58b59b,120.00,120.0,"POLYGON ((127.02965 37.63403, 127.02962 37.638...","[[127.0296496365157, 37.63402867517412], [127...."
3,다사59b65b,442.00,442.0,"POLYGON ((127.04065 37.68815, 127.04062 37.692...","[[127.04064994099917, 37.68815209082502], [127..."
4,다사60a62a,9367.00,9367.0,"POLYGON ((127.04651 37.65663, 127.04649 37.661...","[[127.04651278276538, 37.6566281247312], [127...."
...,...,...,...,...,...
2415,다사54b47b,None,NaN,"POLYGON ((126.98506 37.52568, 126.98503 37.530...","[[126.98506171609876, 37.525681093742804], [12..."
2416,다사53a46a,None,NaN,"POLYGON ((126.96818 37.51209, 126.96815 37.516...","[[126.96818235085506, 37.51208598634863], [126..."
2417,다사54a48b,None,NaN,"POLYGON ((126.97934 37.53467, 126.97931 37.539...","[[126.9793406172334, 37.53466953408817], [126...."
2418,다사54a47b,None,NaN,"POLYGON ((126.97940 37.52566, 126.97937 37.530...","[[126.97940326638944, 37.52565628661525], [126..."
2419,다사54a46a,None,NaN,"POLYGON ((126.97950 37.51214, 126.97947 37.516...","[[126.97949718781426, 37.512136389382235], [12..."

In [11]:
main_population = main_population.fillna(0)

In [12]:
main_population.index = range(1, len(main_population) + 1)

# 격자의 중심점 구하기
center_list = list()
for i in main_population['coordinates']:
    center = [[(i[0][0] + i[1][0] + i[2][0] + i[3][0])/4, (i[0][1] + i[1][1] + i[2][1] + i[3][1])/4]]
    center_list.append(center)

main_population['coord_center'] = pd.DataFrame(center_list)

# 데이터 시각화를 위해 정규화
main_population['regularize_val'] = main_population['val'] / main_population['val'].max()

layer = pdk.Layer(
    'PolygonLayer', # 사용할 Layer 타입
    main_population[main_population['val'] == 0], # 시각화에 쓰일 데이터프레임
    get_polygon='coordinates', # geometry 정보를 담고있는 컬럼 이름
    get_fill_color='[255*regularize_val, 100,255*regularize_val]', # 각 데이터 별 rgb 또는 rgba 값 (0~255)
    pickable=True, # 지도와 interactive 한 동작 on
    auto_highlight=True # 마우스 오버(hover) 시 박스 출력
    ,coverage = 0
)

center_seoul = [127.001699, 37.564214]

view_state = pdk.ViewState(
    longitude=center_seoul[0],
    latitude=center_seoul[1],
    zoom=10)

r = pdk.Deck(layers=[layer], initial_view_state=view_state)
r.show()

DeckGLWidget(carto_key=None, custom_libraries=[], google_maps_key=None, json_input='{"initialViewState": {"lat…

In [14]:
main_population.to_excel('../../데이터/입지분석/인구수_완.xlsx')

In [24]:
Main = main_population[['gid', 'val']]
Main = Main.set_index('gid')
Main

             val
gid
다사58b60a  4336.0
다사60b61b   295.0
다사58b59b   120.0
다사59b65b   442.0
다사60a62a  9367.0
...          ...
다사54b47b     0.0
다사53a46a     0.0
다사54a48b     0.0
다사54a47b     0.0
다사54a46a     0.0

[2420 rows x 1 columns]

In [19]:
charger = gpd.read_file('../../데이터/입지분석/전기차충전소/시범 전기차충전소(시군구격자) 접근성.shp', encoding = 'utf-8')
charger

,gid,sgg_nm_k,sgg_nm_e,sgg_cd,sido_nm_k,sido_nm_e,sido_cd,value,stats_year,raw_d_year,geometry
0,다사55a53b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,1.609,2021,202112,"POLYGON ((955000.000 1953500.000, 955000.000 1..."
1,다사53a53a,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.402,2021,202112,"POLYGON ((953000.000 1953000.000, 953000.000 1..."
2,다사52b53a,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.535,2021,202112,"POLYGON ((952500.000 1953000.000, 952500.000 1..."
3,다사53a57b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,1.357,2021,202112,"POLYGON ((953000.000 1957500.000, 953000.000 1..."
4,다사53a54b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.701,2021,202112,"POLYGON ((953000.000 1954500.000, 953000.000 1..."
...,...,...,...,...,...,...,...,...,...,...,...
419167,나바98a83b,None,None,None,None,None,None,7.706,2021,202112,"POLYGON ((898000.000 1883500.000, 898000.000 1..."
419168,마바76a57a,None,None,None,None,None,None,3.802,2021,202112,"POLYGON ((1176000.000 1857000.000, 1176000.000..."
419169,나바97a87b,None,None,None,None,None,None,4.755,2021,202112,"POLYGON ((897000.000 1887500.000, 897000.000 1..."
419170,나바97a25b,None,None,None,None,None,None,0.662,2021,202112,"POLYGON ((897000.000 1825500.000, 897000.000 1..."
419171,나바96a82b,None,None,None,None,None,None,-999.000,2021,202112,"POLYGON ((896000.000 1882500.000, 896000.000 1..."

In [20]:
charger = charger[charger['sido_nm_k'] == '서울특별시']
charger

,gid,sgg_nm_k,sgg_nm_e,sgg_cd,sido_nm_k,sido_nm_e,sido_cd,value,stats_year,raw_d_year,geometry
0,다사55a53b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,1.609,2021,202112,"POLYGON ((955000.000 1953500.000, 955000.000 1..."
1,다사53a53a,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.402,2021,202112,"POLYGON ((953000.000 1953000.000, 953000.000 1..."
2,다사52b53a,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.535,2021,202112,"POLYGON ((952500.000 1953000.000, 952500.000 1..."
3,다사53a57b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,1.357,2021,202112,"POLYGON ((953000.000 1957500.000, 953000.000 1..."
4,다사53a54b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.701,2021,202112,"POLYGON ((953000.000 1954500.000, 953000.000 1..."
...,...,...,...,...,...,...,...,...,...,...,...
2415,다사70b52a,강동구,Gangdong-gu,11740,서울특별시,Seoul,11,3.329,2021,202112,"POLYGON ((970500.000 1952000.000, 970500.000 1..."
2416,다사67b48a,강동구,Gangdong-gu,11740,서울특별시,Seoul,11,0.290,2021,202112,"POLYGON ((967500.000 1948000.000, 967500.000 1..."
2417,다사68a47a,강동구,Gangdong-gu,11740,서울특별시,Seoul,11,1.036,2021,202112,"POLYGON ((968000.000 1947000.000, 968000.000 1..."
2418,다사68a51a,강동구,Gangdong-gu,11740,서울특별시,Seoul,11,0.955,2021,202112,"POLYGON ((968000.000 1951000.000, 968000.000 1..."
2419,다사68a49b,강동구,Gangdong-gu,11740,서울특별시,Seoul,11,0.305,2021,202112,"POLYGON ((968000.000 1949500.000, 968000.000 1..."

In [25]:
charger = charger[['gid', 'value']]
charger = charger.set_index('gid')
charger

          value
gid
다사55a53b  1.609
다사53a53a  0.402
다사52b53a  0.535
다사53a57b  1.357
다사53a54b  0.701
...         ...
다사70b52a  3.329
다사67b48a  0.290
다사68a47a  1.036
다사68a51a  0.955
다사68a49b  0.305

[2420 rows x 1 columns]

In [26]:
Main = Main.join(charger)

In [27]:
Main

             val  value
gid
다사58b60a  4336.0  0.209
다사60b61b   295.0  2.541
다사58b59b   120.0  0.236
다사59b65b   442.0  0.487
다사60a62a  9367.0  0.318
...          ...    ...
다사54b47b     0.0  0.682
다사53a46a     0.0  2.965
다사54a48b     0.0  0.967
다사54a47b     0.0  1.177
다사54a46a     0.0  6.187

[2420 rows x 2 columns]

In [28]:
complexity = pd.read_excel('../../데이터/입지분석/기타/압축도_복합도_생활권공원.xlsx')
complexity

           gid  토지이용_압축도  토지이용_복합도  생활권공원_접근성
0     다사52a53a    103.24         8      0.236
1     다사52a54a      0.04         1      2.269
2     다사52a55a      3.78         4     11.697
3     다사52a56a     66.87         5      1.051
4     다사52a57a     24.82         5      0.328
...        ...       ...       ...        ...
2415  다사70b50b    313.75         6      0.653
2416  다사70b51b     20.02         3      1.292
2417  다사70b52b      3.68         1      1.714
2418  다사71b49b      4.72         7      8.448
2419  다사71b50b     77.57         4      0.715

[2420 rows x 4 columns]

In [29]:
complexity = complexity.set_index('gid')
complexity

          토지이용_압축도  토지이용_복합도  생활권공원_접근성
gid
다사52a53a    103.24         8      0.236
다사52a54a      0.04         1      2.269
다사52a55a      3.78         4     11.697
다사52a56a     66.87         5      1.051
다사52a57a     24.82         5      0.328
...            ...       ...        ...
다사70b50b    313.75         6      0.653
다사70b51b     20.02         3      1.292
다사70b52b      3.68         1      1.714
다사71b49b      4.72         7      8.448
다사71b50b     77.57         4      0.715

[2420 rows x 3 columns]

In [30]:
Main = Main.join(complexity)
Main

             val  value  토지이용_압축도  토지이용_복합도  생활권공원_접근성
gid
다사58b60a  4336.0  0.209    150.89        11      0.301
다사60b61b   295.0  2.541     41.19         5      1.836
다사58b59b   120.0  0.236    116.56        14      0.437
다사59b65b   442.0  0.487     22.48        10      0.468
다사60a62a  9367.0  0.318    163.15        10      1.008
...          ...    ...       ...       ...        ...
다사54b47b     0.0  0.682   -999.00      -999      0.949
다사53a46a     0.0  2.965   -999.00      -999      2.828
다사54a48b     0.0  0.967   -999.00      -999      0.910
다사54a47b     0.0  1.177   -999.00      -999      0.896
다사54a46a     0.0  6.187   -999.00      -999      5.958

[2420 rows x 5 columns]

In [31]:
Main.columns = ['인구수', '충전소_접근성', '압축도', '복합도', '공원']
Main

             인구수  충전소_접근성     압축도  복합도     공원
gid
다사58b60a  4336.0    0.209  150.89   11  0.301
다사60b61b   295.0    2.541   41.19    5  1.836
다사58b59b   120.0    0.236  116.56   14  0.437
다사59b65b   442.0    0.487   22.48   10  0.468
다사60a62a  9367.0    0.318  163.15   10  1.008
...          ...      ...     ...  ...    ...
다사54b47b     0.0    0.682 -999.00 -999  0.949
다사53a46a     0.0    2.965 -999.00 -999  2.828
다사54a48b     0.0    0.967 -999.00 -999  0.910
다사54a47b     0.0    1.177 -999.00 -999  0.896
다사54a46a     0.0    6.187 -999.00 -999  5.958

[2420 rows x 5 columns]

In [32]:
Main.loc[Main['충전소_접근성']<0, '충전소_접근성'] = 0.33
Main.loc[Main['압축도']<0, '압축도'] = 0
Main.loc[Main['복합도']<0, '복합도'] = 0
Main.loc[Main['공원']<0, '공원'] = 10

Main

             인구수  충전소_접근성     압축도  복합도     공원
gid
다사58b60a  4336.0    0.209  150.89   11  0.301
다사60b61b   295.0    2.541   41.19    5  1.836
다사58b59b   120.0    0.236  116.56   14  0.437
다사59b65b   442.0    0.487   22.48   10  0.468
다사60a62a  9367.0    0.318  163.15   10  1.008
...          ...      ...     ...  ...    ...
다사54b47b     0.0    0.682    0.00    0  0.949
다사53a46a     0.0    2.965    0.00    0  2.828
다사54a48b     0.0    0.967    0.00    0  0.910
다사54a47b     0.0    1.177    0.00    0  0.896
다사54a46a     0.0    6.187    0.00    0  5.958

[2420 rows x 5 columns]

In [86]:
from sklearn.cluster import KMeans

x = Main[['인구수', '충전소_접근성', '복합도']]
model = KMeans(n_clusters=3)
predict = model.fit(x)

predict.labels_

array([2, 0, 0, ..., 0, 0, 0])

In [102]:
Main.corr()

              인구수   충전소_접근성       압축도       복합도        공원
인구수      1.000000 -0.338611  0.615713  0.578733 -0.351776
충전소_접근성 -0.338611  1.000000 -0.346073 -0.403327  0.949395
압축도      0.615713 -0.346073  1.000000  0.671074 -0.340865
복합도      0.578733 -0.403327  0.671074  1.000000 -0.412985
공원      -0.351776  0.949395 -0.340865 -0.412985  1.000000

In [87]:
y = predict.labels_
y

array([2, 0, 0, ..., 0, 0, 0])

In [89]:
x = x.reset_index()

In [90]:
graph = x.join(pd.DataFrame(y))
graph

           gid     인구수  충전소_접근성  복합도  0
0     다사58b60a  4336.0    0.209   11  2
1     다사60b61b   295.0    2.541    5  0
2     다사58b59b   120.0    0.236   14  0
3     다사59b65b   442.0    0.487   10  0
4     다사60a62a  9367.0    0.318   10  1
...        ...     ...      ...  ... ..
2415  다사54b47b     0.0    0.682    0  0
2416  다사53a46a     0.0    2.965    0  0
2417  다사54a48b     0.0    0.967    0  0
2418  다사54a47b     0.0    1.177    0  0
2419  다사54a46a     0.0    6.187    0  0

[2420 rows x 5 columns]

In [91]:
graph.columns = ['gid', '인구수', '충전소_접근성', '복합도', 'predict']

In [57]:
grid = gpd.read_file('../../데이터/입지분석/전기차충전소/시범 전기차충전소(시군구격자) 접근성.shp', encoding = 'utf8')
grid

,gid,sgg_nm_k,sgg_nm_e,sgg_cd,sido_nm_k,sido_nm_e,sido_cd,value,stats_year,raw_d_year,geometry
0,다사55a53b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,1.609,2021,202112,"POLYGON ((955000.000 1953500.000, 955000.000 1..."
1,다사53a53a,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.402,2021,202112,"POLYGON ((953000.000 1953000.000, 953000.000 1..."
2,다사52b53a,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.535,2021,202112,"POLYGON ((952500.000 1953000.000, 952500.000 1..."
3,다사53a57b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,1.357,2021,202112,"POLYGON ((953000.000 1957500.000, 953000.000 1..."
4,다사53a54b,종로구,Jongno-gu,11110,서울특별시,Seoul,11,0.701,2021,202112,"POLYGON ((953000.000 1954500.000, 953000.000 1..."
...,...,...,...,...,...,...,...,...,...,...,...
419167,나바98a83b,None,None,None,None,None,None,7.706,2021,202112,"POLYGON ((898000.000 1883500.000, 898000.000 1..."
419168,마바76a57a,None,None,None,None,None,None,3.802,2021,202112,"POLYGON ((1176000.000 1857000.000, 1176000.000..."
419169,나바97a87b,None,None,None,None,None,None,4.755,2021,202112,"POLYGON ((897000.000 1887500.000, 897000.000 1..."
419170,나바97a25b,None,None,None,None,None,None,0.662,2021,202112,"POLYGON ((897000.000 1825500.000, 897000.000 1..."
419171,나바96a82b,None,None,None,None,None,None,-999.000,2021,202112,"POLYGON ((896000.000 1882500.000, 896000.000 1..."

In [67]:
grid = grid[grid['sido_nm_k'] == '서울특별시']
grid = grid[['gid', 'geometry']]
grid

           gid                                           geometry
0     다사55a53b  POLYGON ((955000.000 1953500.000, 955000.000 1...
1     다사53a53a  POLYGON ((953000.000 1953000.000, 953000.000 1...
2     다사52b53a  POLYGON ((952500.000 1953000.000, 952500.000 1...
3     다사53a57b  POLYGON ((953000.000 1957500.000, 953000.000 1...
4     다사53a54b  POLYGON ((953000.000 1954500.000, 953000.000 1...
...        ...                                                ...
2415  다사70b52a  POLYGON ((970500.000 1952000.000, 970500.000 1...
2416  다사67b48a  POLYGON ((967500.000 1948000.000, 967500.000 1...
2417  다사68a47a  POLYGON ((968000.000 1947000.000, 968000.000 1...
2418  다사68a51a  POLYGON ((968000.000 1951000.000, 968000.000 1...
2419  다사68a49b  POLYGON ((968000.000 1949500.000, 968000.000 1...

[2420 rows x 2 columns]

In [68]:
grid = grid.set_index('gid')
grid

                                                   geometry
gid
다사55a53b  POLYGON ((955000.000 1953500.000, 955000.000 1...
다사53a53a  POLYGON ((953000.000 1953000.000, 953000.000 1...
다사52b53a  POLYGON ((952500.000 1953000.000, 952500.000 1...
다사53a57b  POLYGON ((953000.000 1957500.000, 953000.000 1...
다사53a54b  POLYGON ((953000.000 1954500.000, 953000.000 1...
...                                                     ...
다사70b52a  POLYGON ((970500.000 1952000.000, 970500.000 1...
다사67b48a  POLYGON ((967500.000 1948000.000, 967500.000 1...
다사68a47a  POLYGON ((968000.000 1947000.000, 968000.000 1...
다사68a51a  POLYGON ((968000.000 1951000.000, 968000.000 1...
다사68a49b  POLYGON ((968000.000 1949500.000, 968000.000 1...

[2420 rows x 1 columns]

다사58b60a

In [92]:
graph = graph.set_index('gid')
graph

             인구수  충전소_접근성  복합도  predict
gid
다사58b60a  4336.0    0.209   11        2
다사60b61b   295.0    2.541    5        0
다사58b59b   120.0    0.236   14        0
다사59b65b   442.0    0.487   10        0
다사60a62a  9367.0    0.318   10        1
...          ...      ...  ...      ...
다사54b47b     0.0    0.682    0        0
다사53a46a     0.0    2.965    0        0
다사54a48b     0.0    0.967    0        0
다사54a47b     0.0    1.177    0        0
다사54a46a     0.0    6.187    0        0

[2420 rows x 4 columns]

In [93]:
test1 = grid.join(graph)
test1

,geometry,인구수,충전소_접근성,복합도,predict
gid,,,,,
다사55a53b,"POLYGON ((955000.000 1953500.000, 955000.000 1...",72.0,1.609,2,0
다사53a53a,"POLYGON ((953000.000 1953000.000, 953000.000 1...",2674.0,0.402,13,2
다사52b53a,"POLYGON ((952500.000 1953000.000, 952500.000 1...",1402.0,0.535,10,0
다사53a57b,"POLYGON ((953000.000 1957500.000, 953000.000 1...",0.0,1.357,0,0
다사53a54b,"POLYGON ((953000.000 1954500.000, 953000.000 1...",505.0,0.701,6,0
...,...,...,...,...,...
다사70b52a,"POLYGON ((970500.000 1952000.000, 970500.000 1...",2896.0,3.329,3,2
다사67b48a,"POLYGON ((967500.000 1948000.000, 967500.000 1...",9947.0,0.290,15,1
다사68a47a,"POLYGON ((968000.000 1947000.000, 968000.000 1...",0.0,1.036,1,0
다사68a51a,"POLYGON ((968000.000 1951000.000, 968000.000 1...",427.0,0.955,4,0
다사68a49b,"POLYGON ((968000.000 1949500.000, 968000.000 1...",9725.0,0.305,11,1

In [94]:
test1 = test1.to_crs(epsg = 4326)
test1['coordinates'] = test1['geometry'].apply(polygon_to_coordinates)
test1

,geometry,인구수,충전소_접근성,복합도,predict,coordinates
gid,,,,,,
다사55a53b,"POLYGON ((126.99035 37.57979, 126.99032 37.584...",72.0,1.609,2,0,"[[126.99035203836993, 37.57978500226289], [126..."
다사53a53a,"POLYGON ((126.96773 37.57518, 126.96770 37.579...",2674.0,0.402,13,2,"[[126.96773397496594, 37.57517845860917], [126..."
다사52b53a,"POLYGON ((126.96207 37.57515, 126.96204 37.579...",1402.0,0.535,10,0,"[[126.9620717979233, 37.575152792602694], [126..."
다사53a57b,"POLYGON ((126.96744 37.61574, 126.96741 37.620...",0.0,1.357,0,0,"[[126.9674449940854, 37.615737545688575], [126..."
다사53a54b,"POLYGON ((126.96764 37.58870, 126.96761 37.593...",505.0,0.701,6,0,"[[126.96763771237315, 37.58869818555969], [126..."
...,...,...,...,...,...,...
다사70b52a,"POLYGON ((127.16595 37.56689, 127.16593 37.571...",2896.0,3.329,3,2,"[[127.16595438985028, 37.56689227220022], [127..."
다사67b48a,"POLYGON ((127.13216 37.53074, 127.13214 37.535...",9947.0,0.290,15,1,"[[127.13216147862678, 37.5307376437907], [127...."
다사68a47a,"POLYGON ((127.13786 37.52174, 127.13784 37.526...",0.0,1.036,1,0,"[[127.1378640024237, 37.52174168809255], [127...."
다사68a51a,"POLYGON ((127.13769 37.55780, 127.13767 37.562...",427.0,0.955,4,0,"[[127.13768958998416, 37.557795389191654], [12..."
다사68a49b,"POLYGON ((127.13776 37.54428, 127.13773 37.548...",9725.0,0.305,11,1,"[[127.13775503107166, 37.544275277221956], [12..."

In [96]:
layer = pdk.Layer(
    'PolygonLayer', # 사용할 Layer 타입
    test1, # 시각화에 쓰일 데이터프레임
    get_polygon='coordinates', # geometry 정보를 담고있는 컬럼 이름
    get_fill_color='[80*predict, 80*predict,255]', # 각 데이터 별 rgb 또는 rgba 값 (0~255)
    pickable=True, # 지도와 interactive 한 동작 on
    auto_highlight=True # 마우스 오버(hover) 시 박스 출력
    ,coverage = 0
)

center_seoul = [127.001699, 37.564214]

view_state = pdk.ViewState(
    longitude=center_seoul[0],
    latitude=center_seoul[1],
    zoom=10)

r = pdk.Deck(layers=[layer], initial_view_state=view_state)
r.show()

DeckGLWidget(carto_key=None, custom_libraries=[], google_maps_key=None, json_input='{"initialViewState": {"lat…

In [97]:
result = test1[['인구수', '충전소_접근성', '복합도', 'predict']]
result

             인구수  충전소_접근성  복합도  predict
gid
다사55a53b    72.0    1.609    2        0
다사53a53a  2674.0    0.402   13        2
다사52b53a  1402.0    0.535   10        0
다사53a57b     0.0    1.357    0        0
다사53a54b   505.0    0.701    6        0
...          ...      ...  ...      ...
다사70b52a  2896.0    3.329    3        2
다사67b48a  9947.0    0.290   15        1
다사68a47a     0.0    1.036    1        0
다사68a51a   427.0    0.955    4        0
다사68a49b  9725.0    0.305   11        1

[2420 rows x 4 columns]

In [98]:
result.groupby('predict')['인구수', '충전소_접근성', '복합도'].mean()

C:\Users\ms964\AppData\Local\Temp\ipykernel_20356\3840762240.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  result.groupby('predict')['인구수', '충전소_접근성', '복합도'].mean()

                 인구수   충전소_접근성       복합도
predict
0         485.829582  1.943274  4.352090
1        8998.864964  0.415027  9.968978
2        4672.401274  0.577231  9.450637

In [100]:
result.corr()

              인구수   충전소_접근성       복합도   predict
인구수      1.000000 -0.338611  0.578733  0.606941
충전소_접근성 -0.338611  1.000000 -0.403327 -0.300435
복합도      0.578733 -0.403327  1.000000  0.520940
predict  0.606941 -0.300435  0.520940  1.000000